{% extends "social/profile_base.html" %}
{% load i18n %}

{% block tab_content %}
  {% comment %} Tab "Settings" (Task 4.4): Passwort ändern und Account löschen,
     nur für die eigene Person (owner_only). Beides sind die bestehenden Seiten. {% endcomment %}
  <section aria-labelledby="settings-heading">
    <h2 id="settings-heading">{% translate "Settings" %}</h2>
    <ul class="profile-settings">
      <li><a href="{% url 'password_change' %}">{% translate "Change password" %}</a></li>
      <li><a href="{% url 'delete_account' %}">{% translate "Delete account" %}</a></li>
    </ul>
  </section>
{% endblock %}
